@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  font-family: 'Rajdhani', sans-serif;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur271.cur), auto !important;
}

.font-pixel {
  font-family: 'Press Start 2P', cursive;
}


/* rensa eventuella tidigare globala länkar/knappar */
a, button {
  background: transparent;
  color: inherit;
  text-decoration: none;
  border: none;
  font: inherit;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur271.cur), auto !important;
}

canvas {
  pointer-events: none;
}

@keyframes glitchBlink {
  0%, 90%, 100% {
    opacity: 1;
    text-shadow: 0 0 15px #00ffff;
  }
  92%, 94% {
    opacity: 0.6;
    text-shadow: 2px 2px #ff00ff;
  }
  96%, 98% {
    opacity: 1;
    text-shadow: -2px -2px #00ffff;
  }
}

.glitch-text {
  animation: glitchBlink 10s infinite;
  animation-timing-function: steps(2, end);
}

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bg-radial-bright {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.597) 0%, rgba(0, 0, 0, 0) 55%);
}



/*

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  text-shadow: 0 0 8px rgba(0,255,255,0.7);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html {
  scroll-behavior: smooth;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/